.portfolio {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* flex-wrap: nowra; */
  height:750px;

}
/* heading */
.portfolio span:nth-of-type(1) {
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
}

.portfolio span:nth-of-type(2) {
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
}

/* slider */
.portfolio .swiper{
    overflow: visible!important;
}

.portfolio-slider {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  
}
.portfolio-slider>div{
  margin-left: 10px;
}

.portfolio-slider .swiper-slide {
  width: 20rem;
}
.image{
  width: 350px;
  height: 200px;
}
@media screen and (max-width: 480px){
  .portfolio-slider{
    display: grid;
    grid-template-columns: auto;
  }
  .portfolio {
   height: auto;
   
  }
  .portfolio-slider>div{
    width: 300px;
    height: auto;
  }
  



}
