.t-wrapper{
    padding:  0 3rem 0 3rem;;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:-30px;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    
}









  
  .mdiv{
      height: 400px;
      width: 100%;
      /* background-color: rgb(12, 6, 6); */
      display:grid;
      grid-template-columns: auto auto;
  }
  .div1{
    height:400px;
    width: 285px;
    background-color: rgb(159, 151, 151);
  }
  .div2{
    height:40px;
    width: 585px;
    /* background-color: rgb(255, 255, 255); */
  }
  .contact{
      height: 150px;
      width: 100%;
      /* background-color: rgb(36, 34, 34); */
  }

  .about{
      margin-top: -100px;
  }



@media screen and (max-width: 480px){
   .about{
       margin-top:100px;
   }

    .mdiv{
         margin-left:-40px;
         /* margin-top: 100px; */
        height:1000px;
    
        width: 100%;
        /* background-color: rgb(12, 6, 6); */
        display:grid;
        grid-template-columns: auto;
        flex-wrap: wrap;
    }
    .div2{
        height:1400px;
        width: auto;
        /* background-color: rgb(255, 255, 255); */
      }
    
  }
